body
{
    background-image: url("./images/background.jpg");
    background-size: 1550px;
}
.container
{
    color: rgb(72, 42, 42);
    border: 5px solid rgb(72, 42, 42);
    text-align: center;
    margin-top: 300px;
}